@font-face {
    font-family: 'DoHyeon';
    font-style: normal;
    font-weight: 400;
    src: local('※'),
        url('../fonts/DoHyeon.woff2') format('woff2'), 
        url('../fonts/DoHyeon.woff') format('woff'),
        url('../fonts/DoHyeon.ttf') format('truetype'),
        url('../fonts/DoHyeon.otf') format('opentype'),
        url('../fonts/DoHyeon.eot') format('embedded-opentype');
}

::-webkit-scrollbar {
	display:none;
}

html, body {
	width: 100%;
	height: 100%;
	min-height: 100%;
}

body {
	margin: 0;
	padding: 0;
	-ms-overflow-style: none; 
    background-color: #040214;
}

#container {
    position: absolute;
    z-index: 200;
    bottom: 0;
    margin: 0px;
    left: 0;
    padding: 0;
}

.wrapper {
	width: 6920px;
	height: 980px;
	min-height: 980px;
	background: url(../images/bg.png) no-repeat left center;
	position: relative;
}



#bd01 {
    position: absolute;
    left:73px;
    bottom: 178px;
    width: 495px;
    height: 224px;
    background: url(../images/scene1/bd01.png) no-repeat left center;
    z-index: 1;
}

#bd01-door {
    position: absolute;
    left: 100px;
    bottom: 184px;
    width: 72px;
    height: 152px;
    background: url(../images/scene1/bd01_door.png) no-repeat left center;
    z-index: 2;
}

#bd01-window1 {
    position: absolute;
    left: 200px;
    bottom: 184px;
    width: 326px;
    height: 148px;
    background: url(../images/scene1/bd01_window.png) no-repeat left center;
    z-index: 2;
}

#bd01-light1 {
    position: absolute;
    left: 280px;
    bottom: 184px;
    width: 51px;
    height: 160px;
    background: url(../images/scene1/bd01_light.png) no-repeat left center;
    z-index: 3;
}


#bd01-light2 {
    position: absolute;
    left: 390px;
    bottom: 184px;
    width: 51px;
    height: 160px;
    background: url(../images/scene1/bd01_light.png) no-repeat left center;
    z-index: 3;
}













